/**
 * Full bleed width utilities
 *
 * Ways to break out of a parent container.
 *
 * https://css-tricks.com/full-width-containers-limited-width-parents/
 */

/**
 * Container must be centered
 */

@responsive {
  .full-bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}
