/**
 * Proportional right margin utilities
 *
 * https://github.com/suitcss/utils-after/blob/master/lib/after.css
 */

@variants responsive {
  .mr-1\/12 {
    margin-right: calc(100% * 1 / 12);
  }

  .mr-1\/10 {
    margin-right: 10%;
  }

  .mr-1\/8 {
    margin-right: 12.5%;
  }

  .mr-1\/6,
  .mr-2\/12 {
    margin-right: calc(100% * 1 / 6);
  }

  .mr-1\/5,
  .mr-2\/10 {
    margin-right: 20%;
  }

  .mr-1\/4,
  .mr-2\/8,
  .mr-3\/12 {
    margin-right: 25%;
  }

  .mr-3\/10 {
    margin-right: 30%;
  }

  .mr-1\/3,
  .mr-2\/6,
  .mr-4\/12 {
    margin-right: calc(100% * 1 / 3);
  }

  .mr-3\/8 {
    margin-right: 37.5%;
  }

  .mr-2\/5,
  .mr-4\/10 {
    margin-right: 40%;
  }

  .mr-5\/12 {
    margin-right: calc(100% * 5 / 12);
  }

  .mr-1\/2,
  .mr-2\/4,
  .mr-3\/6,
  .mr-4\/8,
  .mr-5\/10,
  .mr-6\/12 {
    margin-right: 50%;
  }

  .mr-7\/12 {
    margin-right: calc(100% * 7 / 12);
  }

  .mr-3\/5,
  .mr-6\/10 {
    margin-right: 60%;
  }

  .mr-5\/8 {
    margin-right: 62.5%;
  }

  .mr-2\/3,
  .mr-4\/6,
  .mr-8\/12 {
    margin-right: calc(100% * 2 / 3);
  }

  .mr-7\/10 {
    margin-right: 70%;
  }

  .mr-3\/4,
  .mr-6\/8,
  .mr-9\/12 {
    margin-right: 75%;
  }

  .mr-4\/5,
  .mr-8\/10 {
    margin-right: 80%;
  }

  .mr-5\/6,
  .mr-10\/12 {
    margin-right: calc(100% * 5 / 6);
  }

  .mr-7\/8 {
    margin-right: 87.5%;
  }

  .mr-9\/10 {
    margin-right: 90%;
  }

  .mr-11\/12 {
    margin-right: calc(100% * 11 / 12);
  }
}
