<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Design Patterns | Templates</title>
  <link href="../css/style.css" rel="stylesheet">
</head>
<body class="cursor-default">
  <h1>Design Patterns</h1>
  <h2>Download Link/Button <span class="text-grey-darker text-sm"><a class="text-color-inherit no-underline hover:underline" href="https://css-tricks.com/building-good-download-button">CSS-Tricks</a></span></h2>
</body>
</html>
