<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <title>Design Patterns | Templates</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="../css/style.css" rel="stylesheet">
</head>
<body class="cursor-default space-items-3 text-black">
  <h1>Design Patterns</h1>
  <h2>Download Link/Button <span class="text-grey-darker text-sm"><a class="text-color-inherit no-underline hover:underline" href="https://css-tricks.com/building-good-download-button">CSS-Tricks</a></span></h2>

  <section class="Downloads">
    <div class="Download">
      <p>
        <a class="Download-link" download href="something.png">Download picture</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 minutes.</span>
        <span class="Download-properties">2.4 <abbr title="Gigabytes">GB</abbr> AVI</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="something.ttf">Download font</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 minutes.</span>
        <span class="Download-properties">2.4 <abbr title="Gigabytes">GB</abbr> AVI</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="something.epub">Download e-book</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 minutes.</span>
        <span class="Download-properties">2.4 <abbr title="Gigabytes">GB</abbr> AVI</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="something.psd">Download design assets</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 minutes.</span>
        <span class="Download-properties">2.4 <abbr title="Gigabytes">GB</abbr> AVI</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="movie.yml">Download YAML</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 minutes.</span>
        <span class="Download-properties">2.4 <abbr title="Gigabytes">GB</abbr> AVI</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="movie.mov">Download movie</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 minutes.</span>
        <span class="Download-properties">2.4 <abbr title="Gigabytes">GB</abbr> AVI</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="theme-song.mp3">Download theme song</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 15&ndash;30 seconds.</span>
        <span class="Download-properties">4.5 <abbr title="Megabytes">MB</abbr> MP3</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="script.txt">Download script</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 5&ndash;10 seconds.</span>
        <span class="Download-properties">1.28 <abbr title="Kilobytes">KB</abbr> TXT</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="press-kit.zip">Download press kit</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 1&ndash;3 minutes.</span>
        <span class="Download-properties">230 <abbr title="Megabytes">MB</abbr> zip</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="podcast.m4a">Download podcast</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 1&ndash;3 minutes.</span>
        <span class="Download-properties">12 <abbr title="Megabytes">MB</abbr> M4A</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="models.stl">Download 3D models</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30&ndash;45 seconds.</span>
        <span class="Download-properties">21.8 <abbr title="Megabytes">MB</abbr> STL</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="manual.pdf">Download manual</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 1&ndash;2 minutes.</span>
        <span class="Download-properties">1.7 <abbr title="Megabytes">GB</abbr> PDF</span>
      </p>
    </div>
    <!-- .Download -->

    <div class="Download">
      <p>
        <a class="Download-link" download href="support-docs.docx">Download support docs</a>
      </p>
      <p class="Download-instructions">
        <span class="Download-time">Typically takes 30 seconds to 1 minute.</span>
        <span class="Download-properties">6.4 <abbr title="Megabytes">MB</abbr> docx</span>
      </p>
    </div>
    <!-- .Download -->
  </section>

  <a class="" download="" href="#"></a>

  <hr class="bg-grey-light h-px">
</body>
</html>
