/**
 * Download link component
 */

.Download {
  @apply .mt-8;
}

@supports (display: grid) {
  @screen sm {
    .Downloads {
      @apply .mt-0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-auto-rows: minmax(5rem, auto);
      grid-gap: 2rem;
    }

    .Download {
      @apply .mt-0;
    }
  }
}

.Download-link {
  @apply .text-color-inherit .text-xl .pl-8;
}

/**
 * Default download link
 */

.Download-link::before {
  @apply .inline-block .relative .h-8 .w-8;
  content: url(../images/icons/feather/download.svg);
  top: 0.7rem;
  right: 1rem;
}

.Download-instructions {
  @apply .text-grey-darkest .leading-tight .pt-2 .pl-16;
}

.Download-time {
  @apply .text-base;
}

.Download-properties {
  @apply .text-sm .text-grey-darker .block .uppercase .mt-2;
}

/**
 * File type icons
 *
 * https://gist.github.com/ericwbailey/c9f180e11afc6c5d2b5d3d3dd9516258
 */

/**
 * 3D files
 */

.Download-link[href$=".3ds"]::before,
.Download-link[href$=".blend"]::before,
.Download-link[href$=".collada"]::before,
.Download-link[href$=".dwg"]::before,
.Download-link[href$=".fbx"]::before,
.Download-link[href$=".obj"]::before,
.Download-link[href$=".step"]::before,
.Download-link[href$=".stl"]::before,
.Download-link[href$=".iges"]::before,
.Download-link[href$=".vrml"]::before,
.Download-link[href$=".x3d"]::before {
  content: url(../images/icons/feather/box.svg);
}

/**
 * Archives
 *
 * A compressed collection of data.
 */

.Download-link[href$=".7z"]::before,
.Download-link[href$=".cab"]::before,
.Download-link[href$=".gz"]::before,
.Download-link[href$=".lzh"]::before,
.Download-link[href$=".rar"]::before,
.Download-link[href$=".tar"]::before,
.Download-link[href$=".zip"]::before {
  /* No suitable Feather Icon */
  content: url(../images/icons/feather/download.svg);
}

/**
 * Design
 *
 * A file typically used by a design application.
 */

.Download-link[href$=".ai"]::before,
.Download-link[href$=".indd"]::before,
.Download-link[href$=".indt"]::before,
.Download-link[href$=".sketch"]::before,
.Download-link[href$=".psb"]::before,
.Download-link[href$=".psd"]::before,
.Download-link[href$=".xcf"]::before {
  content: url(../images/icons/feather/image.svg);
}

/**
 * Development
 *
 * A file typically used by a development application.
 */

.Download-link[href$=".atom"]::before,
.Download-link[href$=".cgi"]::before,
.Download-link[href$=".coffee"]::before,
.Download-link[href$=".css"]::before,
.Download-link[href$=".csv"]::before,
.Download-link[href$=".erb"]::before,
.Download-link[href$=".htm"]::before,
.Download-link[href$=".html"]::before,
.Download-link[href$=".js"]::before,
.Download-link[href$=".less"]::before,
.Download-link[href$=".markdown"]::before,
.Download-link[href$=".md"]::before,
.Download-link[href$=".php"]::before,
.Download-link[href$=".pl"]::before,
.Download-link[href$=".py"]::before,
.Download-link[href$=".rb"]::before,
.Download-link[href$=".rb"]::before,
.Download-link[href$=".rss"]::before,
.Download-link[href$=".sass"]::before,
.Download-link[href$=".scss"]::before,
.Download-link[href$=".styl"]::before,
.Download-link[href$=".swf"]::before,
.Download-link[href$=".xhtml"]::before,
.Download-link[href$=".xml"]::before,
.Download-link[href$=".yaml"]::before,
.Download-link[href$=".yml"]::before {
  content: url(../images/icons/feather/code.svg);
}

/**
 * Documents
 *
 * A file typically used for word processing.
 */

.Download-link[href$=".doc"]::before,
.Download-link[href$=".docx"]::before{
  content: url(../images/icons/feather/file-text.svg);
}

.Download-link[href$=".pdf"]::before {
  content: url(../images/icons/feather/file-text.svg);
}

.Download-link[href$=".ppt"]::before,
.Download-link[href$=".pptx"]::before {
  content: url(../images/icons/feather/file-text.svg);
}

.Download-link[href$=".xls"]::before,
.Download-link[href$=".xlsx"]::before {
  content: url(../images/icons/feather/file-text.svg);
}

.Download-link[href$=".key"]::before,
.Download-link[href$=".numbers"]::before,
.Download-link[href$=".odt"]::before,
.Download-link[href$=".pages"]::before,
.Download-link[href$=".pps"]::before,
.Download-link[href$=".ppsx"]::before,
.Download-link[href$=".ps"]::before,
.Download-link[href$=".pub"]::before,
.Download-link[href$=".rtf"]::before,
.Download-link[href$=".txt"]::before,
.Download-link[href$=".xlr"]::before {
  content: url(../images/icons/feather/file-text.svg);
}

/**
 * E-Books
 */

.Download-link[href$=".azw"]::before,
.Download-link[href$=".azw3"]::before,
.Download-link[href$=".cbr"]::before,
.Download-link[href$=".cbz"]::before,
.Download-link[href$=".epub"]::before,
.Download-link[href$=".mobi"]::before {
  content: url(../images/icons/feather/book.svg);
}

/**
 * Fonts
 *
 * A file used to display a typeface.
 */

.Download-link[href$=".eot"]::before,
.Download-link[href$=".otf"]::before,
.Download-link[href$=".ttf"]::before,
.Download-link[href$=".woff"]::before,
.Download-link[href$=".woff2"]::before {
  content: url(../images/icons/feather/type.svg);
}

/**
 * GIS file formats
 */

.Download-link[href$=".xyz"]::before,
.Download-link[href$=".dlg"]::before,
.Download-link[href$=".gml"]::before,
.Download-link[href$=".geojson"]::before,
.Download-link[href$=".kml"]::before,
.Download-link[href$=".xyz"]::before,
.Download-link[href$=".shp"]::before,
.Download-link[href$=".shx"]::before,
.Download-link[href$=".dbf"]::before,
.Download-link[href$=".kmz"]::before {
  content: url(../images/icons/feather/globe.svg);
}

/**
 * Images
 *
 * A file used to display a picture.
 */

.Download-link[href$=".bmp"]::before,
.Download-link[href$=".gif"]::before,
.Download-link[href$=".gifv"]::before,
.Download-link[href$=".ico"]::before,
.Download-link[href$=".jpg"]::before,
.Download-link[href$=".jpeg"]::before,
.Download-link[href$=".png"]::before,
.Download-link[href$=".svg"]::before,
.Download-link[href$=".svz"]::before,
.Download-link[href$=".tiff"]::before,
.Download-link[href$=".tif"]::before,
.Download-link[href$=".webp"]::before {
  content: url(../images/icons/feather/image.svg);
}

/**
 * Movies
 *
 * A file used to display moving imagery.
 */

.Download-link[href$=".avi"]::before,
.Download-link[href$=".flv"]::before,
.Download-link[href$=".mkv"]::before,
.Download-link[href$=".mov"]::before,
.Download-link[href$=".mp4"]::before,
.Download-link[href$=".mpg"]::before,
.Download-link[href$=".mpeg"]::before,
.Download-link[href$=".wmv"]::before {
  content: url(../images/icons/feather/video.svg);
}

/**
 * Music
 *
 * A file used for audio.
 */

.Download-link[href$=".aac"]::before,
.Download-link[href$=".aif"]::before,
.Download-link[href$=".aiff"]::before,
.Download-link[href$=".flac"]::before,
.Download-link[href$=".mid"]::before,
.Download-link[href$=".midi"]::before,
.Download-link[href$=".mp3"]::before,
.Download-link[href$=".ogg"]::before,
.Download-link[href$=".vob"]::before {
  content: url(../images/icons/feather/music.svg);
}

/**
 * Podcast
 *
 * Usually .m4a
 *
 * TODO: Since podcasts are sometimes .mp3 (hell, even .zip),
 *       should we add this as an optional modifier class, too?
 */

.Download-link[href$=".m4a"]::before {
  content: url(../images/icons/feather/music.svg);
}

/**
 * Version Control
 *
 * Used to help assemble code.
 */

.Download-link[href$=".git"]::before,
.Download-link[href$=".svn"]::before {
  content: url(../images/icons/feather/git-branch.svg);
}
