/**
 * Custom utilities
 *
 * Import from `./utils/`; this file is included in `style.css`.
 */

@import './utils/aspect-ratio.css';
@import './utils/display.css';
@import './utils/full-bleed.css';
@import './utils/outline.css';
@import './utils/spacing.css';

.transition-color {
  transition: color 0.25s ease;
}

.transition-fill {
  transition: fill 0.25s ease;
}

.transition-bg {
  transition: background-color 0.25s ease;
}

@variants hover {
  .fill-blue {
    fill: var(--blue);
  }

  .fill-green {
    fill: var(--green);
  }
}

@variants responsive {
  .h-75 {
    height: 75%;
  }
}
