/**
 * Custom utilities
 *
 * Import from `./utils/`; this file is included in `style.css`.
 */

@import './utils/display.css';
@import './utils/link.css';
@import './utils/outline.css';

.transition-color {
  transition: color 0.25s ease;
}

.transition-fill {
  transition: fill 0.25s ease;
}

@variants hover {
  .fill-furvur-blue {
    fill: config('colors.furvur-blue');
  }

  .fill-furvur-green {
    fill: config('colors.furvur-green');
  }
}

@variants responsive {
  .h-75 {
    height: 75%;
  }
}
